@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>


@*<p>Use this area to provide additional information.</p>*@

@*參考位置
https://docs.microsoft.com/zh-TW/aspnet/core/getting-started

差異點 :S
範例因為使用指令建立網站，沒有專案檔，無法正常使用git
改用 檔案 > 新增專案 > Core > 建立含有Razor頁面的專案 (自行尋找，這邊只有簡單說明)*@


</span>
<span class="sxs-lookup">
    The time on the server is @DateTime.Now
</span>
</span>